# dependencies
node_modules

# logs
*.log
npm-debug.log*

# git
.git
.gitignore

# docker
Dockerfile
.dockerignore
docker-compose.yml

# env files
.env
.env.*
!.env.example

# misc
README.md
CHEATSHEET.md
LINUX_COMMANDS.md